# See https://help.github.com/ignore-files/ for more about ignoring files.

# Custom Ignore (includes environment, datasets)
rl_project/*
test/*
__pycache__/
weights/*
logs/*
videos/*

# Ignore Filename Extensions
*.npy
*.hdf5
*.csv
*.html
*.pth
*.tar

# VSCode
.vscode/*
.vs/*
*.code-workspace