# See https://help.github.com/ignore-files/ for more about ignoring files.

# Custom Ignore (includes environment, datasets)
projectenv/*
test/*
src/common/__pycache__/*
weights/*


# Ignore Filename Extensions
*.npy
*.hdf5
*.csv
*.html
*.pth
*.tar

# VSCode
.vscode/*
.vs/*
*.code-workspace